#user-profile {
    display: flex;
    border: 1px solid black;
    width: 50em;
    height: 10em;
    margin: 5em auto;
}

h2 {
    text-align: center;
    margin: 0px auto;
}

/* div {
    margin: 0px 5px;
} */

img {
    align-self: flex-start;
    /* margin: auto 10px; */
}

.collection-button, .wishlist-button {
    width: 50%;
    height: 2em;
    font-size: 24px;
    font-weight: bold;
    border-radius: none;
}