/* .collection-body {
    margin: 2em;
} */

/* --------------------------------------------------------------------------------
Profile Container
-------------------------------------------------------------------------------- */

.user-profile-container {
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50em;
    height: 14em;
    margin: 4em auto;
}

.avatar-container {
    /* border: 1px solid black; */
    display: flex;
    height: 100%;
    width: 25%;
}

#avatar-img {
    align-self: center;
    border: 2px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0em 0em 0em 3em;
}

.user-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.profile-stats-container {
    display: flex;
    flex-wrap: wrap;
}

.user-name-profile {
    /* border: 1px solid black; */
    color: black;
    font-size: 30px;
    margin: 1em auto 1em auto;
    text-align: center;
    text-decoration:underline;
}

.profile-stats {
    /* border: 1px solid black; */
    display: block;
    font-size: 18px;
    margin: 1em 0em 1em 3em;
    width: fit-content;
    height: fit-content;
}

.collection-header-btn, .wishlist-header-btn {
    background-color: #0000FF;
    color: white;
    width: 50%;
    height: 2.5em;
    font-size: 26px;
    font-weight: bold;
    border-radius: 0px;
    border-collapse: collapse;
    letter-spacing: 2px;
}

.edit-btn, .remove-btn {
    border-radius: 5px;
    font-size: 18px;
    margin: 0.5em auto;
    width: 6em;
    height: 2.5em;
}

span {
    margin-right: 0.5em;
}

/* --------------------------------------------------------------------------------
Wishlist
-------------------------------------------------------------------------------- */

.add-to-collection-btn, .remove-from-wishlist-btn, .add-to-wishlist-btn {
    border-radius: 5px;
    font-size: 18px;
    margin: 0.5em 1em 0.5em 1em;
    width: 6em;
    height: 2.5em;
}

.bird-regions, .bird-status {
    margin: 0.75em 4em 1em 0em;
    min-width: fit-content;
}

.bird-sci-name {
    margin: 0.75em 4em 1em 0em;
    min-width: fit-content;
}