#user-profile {
    display: flex;
    border: 1px solid black;
    width: 50em;
    height: 10em;
    margin: 5em auto;
}

h2 {
    text-align: center;
    margin: 0px auto;
}

.bird-card {
    padding: 9px 5px 5px 5px;
    margin-left: 5px;
}

div {
    margin: 5px;
}

img {
    align-self: flex-start;
    margin: auto 10px;
}