.user-page-container {
    height: 700px;
    /* background-color: rgba(106, 212, 177, 0.217); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.user-name {
    font-size: 30px;
    margin: 2em auto 0em auto;
    text-align: center;
    width: 100%;
}

.user-name-span {
    color: #1e1e90;
}

.user-page-h4 {
    font-size: 20px;
    width: 100%;
    margin: 2em auto 2em auto;
    text-align: center;
}

.user-page-btn-container {
    background-color: #4ab2ea24;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    width: 30em;
}

.user-page-profile-btn,
.user-page-search-btn {
    border-radius: 10px;
    font-size: 18px;
    height: 3em;
    margin: 1em auto;
    width: 10em;
}

.user-page-logout-btn {
    border-radius: 10px;
    font-size: 18px;
    height: 3em;
    margin: 3em auto 1em auto;
    padding: 1px;
    width: 7em;
}

.user-page-logout-btn:hover {
    
    cursor: pointer;
}

.user-page-link {
    color: black;
    font-size: 20px;
    text-decoration: none;
}