html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: rgb(101, 101, 239);
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: rgb(101, 101, 239);
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 40px auto ;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Bird Containers
-------------------------------------------------------------------------------- */

.bird-card, .bird-card-collection, .bird-card-wishlist {
  border: 1px solid black;
  display: flex;
  font-size: 18px;
  /* margin: 0em 1em 0em 1em; */
  width: 100%;
}

.bird-image-container {
  border-right: 1px solid black;
  min-width: 230px;
  max-width: 230px;
  max-height: 153px;
  min-height: 153px;
}

.bird-img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.bird-info-div {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

.btn-div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border-left: 1px solid black; */
  max-width: 10em;
  min-width: 10em;
  justify-content: center;
}

.bird-name {
  align-self: flex-start;
  /* border: 1px solid black; */
  font-weight: bold;
  font-size: 22px;
  min-width: 25%;
  max-width: 30%;
  overflow-wrap: break-word;
  margin: 0.5em 0.5em 0.5em 3em;
  padding: 0px;
}

.observation-location {
  /* border: 1px solid black; */
  /* display: inline; */
  height: fit-content;
  margin: 0.75em 1em 1em 0em;
  min-width: 30%;
  max-width: 30%;
  align-self: flex-start;
  overflow-wrap: break-word;
}

.observation-notes {
  border: 1px solid black;
  width: 100%;
  align-self: flex-end;
  justify-self: flex-start;
  margin: 0em 2em 0.5em 3em;
  min-height: 3em;
  width: 90%;
  padding: 5px;
  overflow-wrap: break-word;
}

.observation-time {
  /* border: 1px solid black; */
  margin: 0.75em 4em 1em 0em;
  min-width: fit-content;
  align-self: flex-start;
}

.observation-date {
  /* border: 1px solid black; */
  margin: 0.75em 0.25em 1em 0em;
  min-width: fit-content;
  align-self: flex-start;
}

