.login-page-container {
    background-image: url("https://images.unsplash.com/photo-1529477007373-a52f5203cb23?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2232&q=80");
    background-position: 100% 100%;
    background-size: cover;
    display: flex;
    height: 1000px;
    justify-content: right;
    width: 100%;
}

.register-btn {
    text-align: center;
}