.search-header {
    display: flex;
    align-items: center;
    background-color: #0000FF;
    color: white;
    width: 100%;
    height: 2.5em;
    font-size: 26px;
    font-weight: bold;
    justify-content: center;
    border-radius: 0px;
    border-collapse: collapse;
    letter-spacing: 2px;
    margin: 3em 0em 0em 0em;
}

.bird-name {
    font-weight: bold;
    font-size: 20px;
    margin-left: 2em;
    padding: 5px;
}

.bird-sci-name {
    font-style: italic;
    padding: 9px 5px 5px 5px;
    margin-left: 5px;
}

.bird-regions {
    /* border: 1px solid black; */
    padding: 9px 5px 5px 5px;
    margin-left: 5px;
}

.bird-status {
    /* border: 1px solid black; */
    padding: 9px 5px 5px 5px;
    margin-left: 5px;
}

.search-input {
    font-size: 18px;
    margin: 2em 1em 0em 3em;
}

/* BUTTONS */
.search-btn {
    font-size: 18px;
}

/* .add-to-collection-btn, .add-to-wishlist-btn {
    align-self: flex-end;
    margin: 5px 5px 5px auto;
    margin-right: 0px;
} */

/* Copied from ProfilePage.css */

.add-to-collection-btn,
.add-to-wishlist-btn {
    font-size: 18px;
    margin: 0.5em 1em 0.5em 1em;
    width: 6em;
    height: 2.5em;
}

.bird-regions,
.bird-status {
    margin: 0.75em 4em 1em 0em;
    min-width: fit-content;
}

.bird-sci-name {
    margin: 0.75em 4em 1em 0em;
    min-width: fit-content;
}